.bg-navFoot {
    background-color: brown;
}

.lista {
    list-style: none;
    padding: 0%;
}

.texto-borde {
    -webkit-text-stroke: 1px black;
    color: transparent;
}

@media all and (max-width: 576px) {
    .carousel-sm-responsive {
        object-fit: cover;
        height: 187px;
    }
}