@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align: justify;
}

.bg-navFoot {
    background-color: brown;
}

.lista {
    list-style: none;
    padding: 0%;
}

@media all and (max-width: 576px) {
    .carousel-sm-responsive {
        object-fit: cover;
        height: 187px;
    }
    .card-top {
        margin-top: 50px;
    }
    .w-sm-tablero {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .w-md-lg-tablero {
        width: 50%;
    }
}

#logo {
    width: 140px;
}