@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

.bg-navFoot {
    background-color: brown;
}

.lista {
    list-style: none;
    padding: 0%;
}

@media all and (max-width: 576px) {
    .carousel-sm-responsive {
        object-fit: cover;
        height: 187px;
    }
}

#logo {
    width: 140px;
}